/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-s9 .subscribe .email button, .container-s9 .subscribe h3, .container-s8 .Photo .button a, .container-s7 .Content .Point h3, .container-s7 .Content .Heading h2, .container-s6 .Offer .Content-2 .product .product-bottom h5, .container-s6 .Offer .Content .Heading h2, .container-s6 .Offer .Content .shop a, .container-s5 .content .Counters .Chart .chart-mid h5, .container-s5 .content .name, .container-s5 .content h2, .container-s4 .shop a, .container-s4 .container-products .product .product-bottom h5, .container-s4 .head h2, .container-s3 .about-us .shop a, .container-s3 .about-us h5, .container-s3 .about-us h3, .container-s2 .right-box div h3, .container-s2 .left-box div h3, .container-s1 .natural-food .Explore a, .container-s1 .natural-food h2, .container-header .cart P, .container-header form input, .container-header nav ul a, .container-header h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container-s7 .Content .Heading h4, .container-s6 .Offer .Content .Heading h4, .container-s5 .content h4, .container-s4 .head h4, .container-s3 .about-us h4, .container-s2 .right-box div h4, .container-s2 .left-box div h4, .container-s1 .natural-food h4 {
  font-family: Yellowtail;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-s7 .Content .Point p, .container-s6 .Offer .Content-2 .product .product-bottom .product-bottom-cost .new-cost, .container-s6 .Offer .Content-2 .product .product-bottom .product-bottom-cost .old-cost, .container-s6 .Offer .Content-2 .product .category h5, .container-s5 .content .Counters .Chart .chart-mid p, .container-s5 .content span, .container-s5 .content p, .container-s4 .container-products .product .product-bottom .product-bottom-cost .new-cost, .container-s4 .container-products .product .product-bottom .product-bottom-cost .old-cost, .container-s4 .container-products .product .category h5, .container-s3 .about-us p {
  color: #525C60;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
}

body {
  background: rgba(255, 255, 255, 0.9);
}

.container-header {
  max-width: 1596px;
  width: 100%;
  margin: 69px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-header h1 {
  color: #274C5B;
  font-size: 38px;
  margin-left: 8px;
}
.container-header nav {
  max-width: 564px;
  width: 100%;
}
.container-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container-header nav ul a {
  color: #274C5B;
  font-size: 20px;
}
.container-header nav ul a:hover {
  color: #68A47F;
}
.container-header .header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.container-header form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-header form input {
  width: 376px;
  height: 66px;
  border-radius: 36px;
  background: #FAFAFA;
  border: none;
  padding: 0 70px 0 30px;
  font-size: 20px;
}
.container-header form .glass {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #7EB693;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6px;
  position: absolute;
  right: 6px;
  border: none;
}
.container-header form .glass .fa-magnifying-glass {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-header form .glass:hover .fa-magnifying-glass {
  color: #274C5B;
}
.container-header .cart {
  width: 159px;
  height: 66px;
  border-radius: 33px;
  border: 1px solid #E0E0E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 12px;
}
.container-header .cart div {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #274C5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 6px;
}
.container-header .cart .fa-cart-shopping {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-header .cart P {
  color: #274C5B;
  font-size: 18px;
}
.container-header .cart:hover .fa-cart-shopping {
  color: #68A47F;
}
.container-header .fa-bars {
  display: none;
}
@media (max-width: 1430px) {
  .container-header nav {
    display: none;
  }
  .container-header .fa-bars {
    display: block;
  }
}
@media (max-width: 840px) {
  .container-header .input, .container-header .cart {
    display: none;
  }
}

@media (max-width: 1600px) {
  .container-header {
    width: 97%;
  }
}
.container-s1 {
  max-width: 1920px;
  height: 898px;
  margin: 0 auto;
  background-color: #F1EFF0;
  background: url(../images/Photo.png), #F1EFF0 50%/cover no-repeat;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.container-s1 .natural-food {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.container-s1 .natural-food h4 {
  font-size: 36px;
  color: #68A47F;
}
.container-s1 .natural-food h2 {
  max-width: 530px;
  width: 100%;
  color: #274C5B;
  font-size: 70px;
  font-weight: 800;
  margin: 8px 0 23px 0;
}
.container-s1 .natural-food .Explore {
  width: 220px;
  height: 79px;
  padding: 28px 39px;
  border-radius: 16px;
  background: #EFD372;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-s1 .natural-food .Explore a {
  color: #274C5B;
  font-size: 20px;
}
.container-s1 .natural-food .Explore:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1440px) {
  .container-s1 .natural-food {
    width: 97%;
  }
}
@media (max-width: 1152px) {
  .container-s1 .natural-food {
    max-width: 530px;
    width: 97%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .container-s1 .natural-food {
    width: 97%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-s1 .natural-food h2 {
    text-align: center;
    font-size: 60px;
  }
}
@media (max-width: 520px) {
  .container-s1 .natural-food {
    width: 97%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-s1 .natural-food h2 {
    font-size: 35px;
  }
  .container-s1 .natural-food h4 {
    font-size: 27px;
  }
}

.container-s2 {
  max-width: 1400px;
  width: 100%;
  margin: 145px auto 170px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 36px;
}
.container-s2 .left-box {
  max-width: 682px;
  width: 100%;
  height: 376px;
  background: url(../images/Photo.jpg), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-s2 .left-box div {
  max-width: 277px;
  width: 100%;
  margin: 109px 0 0 55px;
}
.container-s2 .left-box div h4 {
  color: #FFF;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 5px;
}
.container-s2 .left-box div h3 {
  color: #FFF;
  font-size: 40px;
  font-weight: 800;
}
.container-s2 .right-box {
  max-width: 682px;
  width: 100%;
  height: 376px;
  background: url(../images/Photo-2.jpg), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-s2 .right-box div {
  max-width: 277px;
  width: 100%;
  margin: 109px 0 0 55px;
}
.container-s2 .right-box div h4 {
  color: #7EB693;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 5px;
}
.container-s2 .right-box div h3 {
  color: #274C5B;
  font-size: 40px;
  font-weight: 800;
}
.container-s2 .right-box:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.container-s2 .left-box:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1440px) {
  .container-s2 {
    width: 97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 520px) {
  .container-s2 .left-box, .container-s2 .right-box {
    width: 97%;
  }
  .container-s2 .left-box div {
    margin: 109px auto 0 auto;
  }
  .container-s2 .right-box div {
    margin: 109px auto 0 auto;
  }
}

.container-s3 {
  max-width: 1920px;
  width: 100%;
  height: 1000px;
  margin: 0 auto;
  background-color: #F9F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-s3 .container-fruits {
  width: auto;
  height: auto;
  margin-top: 87px;
}
.container-s3 .about-us {
  width: 702px;
  margin-top: 186px;
}
.container-s3 .about-us h4 {
  color: #7EB693;
  font-size: 36px;
}
.container-s3 .about-us h3 {
  color: #274C5B;
  font-size: 50px;
  font-weight: 800;
  margin: 8px 0 14px 0;
}
.container-s3 .about-us h5 {
  color: #274C5B;
  font-weight: 800;
  font-size: 25px;
}
.container-s3 .about-us .top {
  margin-top: 46px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
}
.container-s3 .about-us .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 19px;
}
.container-s3 .about-us .text {
  max-width: 444px;
  width: 100%;
}
.container-s3 .about-us .asset {
  width: 101px;
  height: 101px;
  border-radius: 20px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-s3 .about-us .shop {
  width: 220px;
  height: 79px;
  margin-top: 46px;
  padding: 28px 39px;
  border-radius: 16px;
  background: #274C5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-s3 .about-us .shop a {
  color: #FFF;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-s3 .about-us .shop:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.container-s3 .about-us .shop:hover a {
  color: #7EB693;
}
@media (max-width: 1550px) {
  .container-s3 .container-fruits img {
    width: 99%;
    height: 99%;
  }
}
@media (max-width: 1152px) {
  .container-s3 {
    width: 97%;
    height: 1600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container-s3 .about-us {
    margin: 0;
  }
  .container-s3 .container-fruits {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .container-s3 .about-us {
    max-width: 702px;
    width: 100%;
  }
  .container-s3 .about-us h3 {
    font-size: 45px;
    text-align: center;
  }
  .container-s3 .about-us h4 {
    text-align: center;
  }
  .container-s3 .about-us p {
    text-align: center;
  }
  .container-s3 .about-us h5 {
    font-size: 20px;
  }
  .container-s3 .about-us .text p {
    text-align: start;
  }
  .container-s3 .about-us .my-shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container-s3 .container-fruits {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .container-s3 .about-us h3 {
    font-size: 32px;
  }
}

.container-s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400.961px;
  width: 100%;
  margin: 176px auto 200px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-s4 .head {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.container-s4 .head h4 {
  font-size: 36px;
  color: #7EB693;
}
.container-s4 .head h2 {
  font-size: 50px;
  font-weight: 800;
  color: #274C5B;
}
.container-s4 .container-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.container-s4 .container-products .product {
  border-radius: 30px;
  background-color: #F9F8F8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-s4 .container-products .product .img {
  width: 335.23px;
  height: 324px;
}
.container-s4 .container-products .product .m1 {
  background: url(../images/Calabrese\ Broccoli.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
}
.container-s4 .container-products .product .m2 {
  background: url(../images/Banana.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
}
.container-s4 .container-products .product .m3 {
  background: url(../images/White\ Nuts.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
}
.container-s4 .container-products .product .m4 {
  background: url(../images/Vegan\ Red\ Tomato.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
}
.container-s4 .container-products .product .m5 {
  background: url(../images/Mung\ Bean.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
}
.container-s4 .container-products .product .m6 {
  background: url(../images/Brown\ Hazelnut.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
}
.container-s4 .container-products .product .m7 {
  background: url(../images/Eggs.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
}
.container-s4 .container-products .product .m8 {
  background: url(../images/Zelco\ Suji\ Elaichi\ Rusk.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
}
.container-s4 .container-products .product .category {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 8px;
  background: #274C5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 12px 6px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 29px 0 13px 30px;
}
.container-s4 .container-products .product .category h5 {
  font-size: 15px;
  font-weight: 600;
  color: #FFF;
}
.container-s4 .container-products .product .product-bottom {
  width: 279px;
  margin: 2px auto 17px auto;
}
.container-s4 .container-products .product .product-bottom h5 {
  color: #274C5B;
  font-size: 20px;
  font-weight: 600;
}
.container-s4 .container-products .product .product-bottom .product-bottom-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-s4 .container-products .product .product-bottom .product-bottom-cost .old-cost {
  font-size: 15px;
  font-weight: 600;
  color: #B8B8B8;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
.container-s4 .container-products .product .product-bottom .product-bottom-cost .new-cost {
  color: #274C5B;
  font-size: 18px;
  font-weight: 700;
  margin: 0 81px 0 7px;
}
.container-s4 .container-products .product:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.container-s4 .shop {
  width: 220px;
  height: 79px;
  margin-top: 122px;
  padding: 28px 39px;
  border-radius: 16px;
  background: #274C5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-s4 .shop a {
  color: #FFF;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-s4 .shop:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.container-s4 .shop:hover a {
  color: #7EB693;
}
@media (max-width: 1400px) {
  .container-s4 .m7-none, .container-s4 .m8-none {
    display: none;
  }
}
@media (max-width: 1045px) {
  .container-s4 .m6-none, .container-s4 .m5-none {
    display: none;
  }
}
@media (max-width: 691px) {
  .container-s4 .m4-none, .container-s4 .m3-none, .container-s4 .m2-none {
    display: none;
  }
}

.container-s5 {
  max-width: 1920px;
  width: 100%;
  height: 1267px;
  margin: 0 auto;
  background-color: #FCFCFC;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container-s5 .Testimonial {
  max-width: 1920px;
  width: 100%;
  position: absolute;
  z-index: 3;
}
.container-s5 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-s5 .content h4 {
  color: #7EB693;
  font-size: 36px;
  margin-bottom: 8px;
}
.container-s5 .content h2 {
  color: #274C5B;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 60px;
}
.container-s5 .content .image-mid {
  margin-bottom: 20px;
}
.container-s5 .content p {
  color: #525C60;
  font-size: 18px;
  line-height: 165.4%;
  max-width: 780px;
  width: 97%;
  margin: 25px 0 20px 0;
  text-align: center;
}
.container-s5 .content .name {
  color: #274C5B;
  font-size: 25px;
  font-weight: 600;
}
.container-s5 .content span {
  color: #525C60;
  font-size: 15px;
  line-height: 165.4%;
}
.container-s5 .content .line {
  width: 1108px;
  height: 1px;
  background: #E0E0E0;
  margin: 102px 0 102px 0;
}
.container-s5 .content .Counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
}
.container-s5 .content .Counters .Chart {
  width: 211px;
  height: 211px;
  background-color: #7EB693;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-s5 .content .Counters .Chart .chart-mid {
  width: 203px;
  height: 203px;
  border-radius: 50%;
  border-style: solid;
  border-width: 7px;
  border-color: #FFF;
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container-s5 .content .Counters .Chart .chart-mid h5 {
  color: #274C5B;
  font-size: 50px;
  font-weight: 800;
}
.container-s5 .content .Counters .Chart .chart-mid p {
  margin: 0;
  color: #274C5B;
  font-size: 18px;
  font-weight: 600;
  line-height: 165.4%;
}
@media (max-width: 1430px) {
  .container-s5 .image-right, .container-s5 .image-left {
    display: none;
  }
}
@media (max-width: 1050px) {
  .container-s5 .content .Counters {
    max-width: 500px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 650px) {
  .container-s5 .content h2 {
    font-size: 35px;
  }
}
@media (max-width: 450px) {
  .container-s5 .content h4 {
    font-size: 23px;
  }
  .container-s5 .content h2 {
    font-size: 23px;
  }
}

.container-s6 {
  height: 1050px;
  background: #274C5B;
  padding: 200px 0 200px 0;
}
.container-s6 .Offer {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1400.361px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}
.container-s6 .Offer .Content {
  max-width: 1400.361px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-s6 .Offer .Content .shop {
  width: auto;
  height: auto;
  padding: 28px 39px;
  border-radius: 16px;
  background: #EFD372;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-s6 .Offer .Content .shop a {
  color: #274C5B;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-s6 .Offer .Content .shop:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.container-s6 .Offer .Content .Heading h4 {
  font-size: 36px;
  color: #7EB693;
}
.container-s6 .Offer .Content .Heading h2 {
  font-size: 50px;
  font-weight: 800;
  color: #FFF;
}
.container-s6 .Offer .Content-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.container-s6 .Offer .Content-2 .product {
  border-radius: 30px;
  background-color: #F9F8F8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.container-s6 .Offer .Content-2 .product .img {
  width: 335.23px;
  height: 324px;
}
.container-s6 .Offer .Content-2 .product .m2 {
  background: url(../images/21421421.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
}
.container-s6 .Offer .Content-2 .product .m3 {
  background: url(../images/2312.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
}
.container-s6 .Offer .Content-2 .product .m4 {
  background: url(../images/Onion.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
}
.container-s6 .Offer .Content-2 .product .m5 {
  background: url(../images/Cabbage.png), #F9F8F8 50%/cover no-repeat;
  background-blend-mode: multiply;
}
.container-s6 .Offer .Content-2 .product .category {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 8px;
  background: #274C5B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 12px 6px 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 29px 0 13px 30px;
}
.container-s6 .Offer .Content-2 .product .category h5 {
  font-size: 15px;
  font-weight: 600;
  color: #FFF;
}
.container-s6 .Offer .Content-2 .product .product-bottom {
  width: 279px;
  margin: 2px auto 17px auto;
}
.container-s6 .Offer .Content-2 .product .product-bottom h5 {
  color: #274C5B;
  font-size: 20px;
  font-weight: 600;
}
.container-s6 .Offer .Content-2 .product .product-bottom .product-bottom-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-s6 .Offer .Content-2 .product .product-bottom .product-bottom-cost .old-cost {
  font-size: 15px;
  font-weight: 600;
  color: #B8B8B8;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}
.container-s6 .Offer .Content-2 .product .product-bottom .product-bottom-cost .new-cost {
  color: #274C5B;
  font-size: 18px;
  font-weight: 700;
  margin: 0 81px 0 7px;
}
.container-s6 .Offer .Content-2 .product:hover {
  -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 1420px) {
  .container-s6 .Offer {
    width: 97%;
  }
  .container-s6 .Offer .Content {
    max-width: 1040px;
    width: 97%;
  }
  .container-s6 .m5-none {
    display: none;
  }
}
@media (max-width: 1060px) {
  .container-s6 .Offer .Content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
  .container-s6 .Offer .Content .Heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-s6 .m4-none {
    display: none;
  }
}
@media (max-width: 720px) {
  .container-s6 .m3-none {
    display: none;
  }
}
@media (max-width: 620px) {
  .container-s6 .Offer .Content .Heading h2 {
    font-size: 35px;
    text-align: center;
  }
}

.container-s7 {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.container-s7 .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container-s7 .Content {
  background: #FFF;
  position: absolute;
  z-index: 2;
  left: 890px;
  top: 100px;
  max-width: 813px;
  width: 100%;
  padding: 78px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
  border-radius: 30px;
}
.container-s7 .Content .Heading {
  max-width: 635px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}
.container-s7 .Content .Heading h4 {
  font-size: 36px;
  color: #7EB693;
}
.container-s7 .Content .Heading h2 {
  font-size: 50px;
  font-weight: 800;
  color: #274C5B;
  max-width: 500px;
  width: 100%;
}
.container-s7 .Content .Point {
  max-width: 635px;
  width: 100%;
}
.container-s7 .Content .Point h3 {
  font-size: 25px;
  font-weight: 500;
  color: #274C5B;
}
.container-s7 .Content .Point p {
  color: #525C60;
  font-size: 18px;
  margin-top: 7px;
}
@media (max-width: 1740px) {
  .container-s7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-s7 .Content {
    position: static;
  }
  .container-s7 .Content .Heading {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-s7 .Content .Heading h2 {
    text-align: center;
  }
  .container-s7 .Content .Point h3 {
    text-align: center;
  }
  .container-s7 .Content .Point p {
    text-align: center;
  }
}
@media (max-width: 970px) {
  .container-s7 img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 440px) {
  .container-s7 .Content .Heading h2 {
    font-size: 35px;
  }
}

.container-s8 {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 187px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 42px;
  background: #F1F8F4;
}
.container-s8 .Photo {
  max-width: 612px;
  width: 97%;
  height: 612px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container-s8 .Photo .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 33px 83px 34px 83px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 20px;
  background: #FFF;
}
.container-s8 .Photo .button a {
  font-size: 25px;
  font-weight: 500;
  color: #274C5B;
}
.container-s8 .img-1 {
  background: url(../images/Photo-s8.jpg), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-s8 .img-2 {
  background: url(../images/Photo\ 1-s8.jpg), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.container-s8 .img-3 {
  background: url(../images/Photo\ 2-s8.jpg), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1440px) {
  .container-s8 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.container-s9 .subscribe {
  max-width: 1400px;
  width: 100%;
  height: 323px;
  padding: 0 60px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
  background: #37B5DE;
  background-image: url(../../images/Photo-s9.jpg);
}
.container-s9 .subscribe h3 {
  color: #FFF;
  font-size: 50px;
  font-weight: 800;
  width: 357px;
}
.container-s9 .subscribe .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
}
.container-s9 .subscribe .email input {
  width: 349px;
  height: 80px;
  border-radius: 16px;
  background: #FFF;
  border: none;
  padding-left: 23px;
}
.container-s9 .subscribe .email button {
  width: 220px;
  padding: 28px 47px 29px 47px;
  border-radius: 16px;
  background: #274C5B;
  color: #FFF;
  font-size: 20px;
  border: none;
}
@media (max-width: 1410px) {
  .container-s9 .subscribe {
    width: 97%;
  }
}
@media (max-width: 1100px) {
  .container-s9 .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
  .container-s9 .subscribe h3 {
    max-width: 640px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  .container-s9 .subscribe .email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-s9 .subscribe .email input {
    width: 100%;
  }
  .container-s9 .subscribe h3 {
    font-size: 35px;
    text-align: center;
  }
}/*# sourceMappingURL=global.css.map */