%myfonts{
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
%myfonts2{
    font-family: Yellowtail;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
%myfonts3{
    color: #525C60;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.4%;
}
