@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Yellowtail&display=swap');
 body{
    background: rgba(255, 255, 255, 0.90);
 }
 .container-header{
    max-width: 1596px;
    width: 100%;
    margin: 69px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: flex;
        align-items: center;
    }
    h1{
        @extend %myfonts;
        color: #274C5B;
        font-size: 38px;
        margin-left: 8px;
    }
    nav{
        max-width: 564px;
        width: 100%;
        ul{
            display: flex;
            justify-content: space-between;
            a{
                color: #274C5B;
                @extend %myfonts;
                font-size: 20px;
            }
    
        }
    }
    .header-search{
        display: flex;
        align-items: center;
        gap: 18px;
    }
    form{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        input{
            width: 376px;
            height: 66px;
            border-radius: 36px;
            background: #FAFAFA;
            border: none;
            padding: 0 70px 0 30px;
            @extend %myfonts;
            font-size: 20px;
        }
        .glass{
            width: 56px;
             height: 56px;
             border-radius: 50%;
             background-color: #7EB693;
             display: flex;
             justify-content: center;
             align-items: center;
             margin-left: 6px; 
             position: absolute; 
             right: 6px; 
        }      
    }

    .cart{
        width: 159px;
        height: 66px;
        border-radius: 33px;
        border: 1px solid #E0E0E0;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 12px;
        div{
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: #274C5B;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 6px;
        }
        P{
            @extend %myfonts;
            color: #274C5B;
            font-size: 18px;
        }
    }
    .fa-bars{
        display: none;
    } 
    @media (max-width:1352px) {
        nav{
            display: none;
        }
        .fa-bars{
            display: block;
        }
    } 
    @media (max-width:840px) {
        .input, .cart {
            display: none;
        }
    }
 }
 @media (max-width:1600px) {
    .container-header{
        width: 97%;
    }
    
}

