.container-s1-quality{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    height: 450px;
    background: url(../images/Pattern\ g-s1.png) center no-repeat, url(../images/Photo\ g-s1-2.png) center;
    h1{
        @include h2style;
        font-size: 70px;
    }
    @media (max-width:850px) {
        h1{
            font-size: 50px;
        }
    }
    @media (max-width:450px) {
        h1{
            font-size: 35px;
        }
    }
}
.container-s2-quality{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}