.container-s1{
    max-width:1920px;
    height: 898px;
    margin: 0 auto;
    background-color: #F1EFF0;
    background: url(../images/Photo.png), #F1EFF0 50% / cover no-repeat, ;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    position: relative;
    .natural-food{
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        h4{
            @extend %myfonts2;
            font-size: 36px;
            color: #68A47F;
        }
        h2{
            max-width: 530px;
            width: 100%;
            @extend %myfonts;
            color: #274C5B;
            font-size: 70px;
            font-weight: 800;
            margin: 8px 0 23px 0;
        }
        .Explore{
            width: 220px;
            height: 79px;
            padding: 28px 39px;
            border-radius: 16px;
            background: #EFD372;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            a{
                @extend %myfonts;
                color: #274C5B;
                font-size: 20px;
            }
        }
    }
    @media (max-width:1440px) {
        .natural-food{
            width: 97%;
        }
    }
    @media (max-width:1152px) {
        .natural-food{
            max-width: 530px;
            width: 97%;
            margin: 0 auto;
        }
    }
    @media (max-width:768px) {
        .natural-food{
            width: 97%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .natural-food h2{
            text-align: center;
            font-size: 60px;
        }
    }
    @media (max-width:520px) {
        .natural-food{
            width: 97%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .natural-food h2{
            font-size: 35px;
        }
        .natural-food h4{
            font-size: 27px;
        }
    }
}
.container-s2{
    max-width: 1400px;
    width: 100%;
    margin: 145px auto 170px auto;
    display: flex;
    justify-content: center;
    gap: 36px;
    .left-box{
        max-width: 682px;
        width: 100%;
        height: 376px;
        background: url(../images/Photo.jpg), lightgray 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        div{
            max-width: 277px;
            width: 100%;
            margin: 109px 0 0 55px;
            h4{
                @extend %myfonts2;
                color: #FFF;
                font-size: 36px;
                font-weight: 400;
                margin-bottom: 5px;
            }
            h3{
                @extend %myfonts;
                color: #FFF;
                font-size: 40px;
                font-weight: 800;
            }
        }
    }
    .right-box{
        max-width: 682px;
        width: 100%;
        height: 376px;
        background: url(../images/Photo-2.jpg), lightgray 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        div{
            max-width: 277px;
            width: 100%;
            margin: 109px 0 0 55px;
            h4{
                @extend %myfonts2;
                color: #7EB693;
                font-size: 36px;
                font-weight: 400;
                margin-bottom: 5px;
            }
            h3{
                @extend %myfonts;
                color: #274C5B;
                font-size: 40px;
                font-weight: 800;
            }
        }
    }
    @media (max-width:1440px) {
        width: 97%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width:520px) {
        .left-box, .right-box {
            width: 97%;
        }
        .left-box div{
            margin: 109px auto 0 auto;
        }
        .right-box div{
            margin: 109px auto 0 auto;
        }
    }
}
.container-s3{
    max-width: 1920px;
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    background-color: #F9F8F8;
    display: flex;
    .container-fruits{
        width: auto;
        height: auto;
        margin-top: 87px;      
    }
    .about-us{
        width: 702px;
        margin-top: 186px;
        h4{
            @extend %myfonts2;
            color: #7EB693;
            font-size: 36px;
        }
        h3{
            @extend %myfonts;
            color: #274C5B;
            font-size: 50px;
            font-weight: 800;
            margin: 8px 0 14px 0;
        }
        p{
            @extend %myfonts3;
        }
        h5{
            @extend %myfonts;
            color: #274C5B;
            font-weight: 800;
            font-size: 25px;
        }
        .top{
            margin-top: 46px;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            gap: 19px;
            
        }
        .bottom{
            display: flex;
            align-items: center;
            gap: 19px;
        }
        .text{
        max-width: 444px;
        width: 100%;
        }
        .asset{
            width: 101px;
            height: 101px;
            border-radius: 20px;
            background: #FFF;            display: flex;
            justify-content: center;
            align-items: center;
        }
        .shop{
            width: 220px;
            height: 79px;
            margin-top: 46px;
            padding: 28px 39px;
            border-radius: 16px;
            background: #274C5B;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            a{
                @extend %myfonts;
                color: #FFF;
                font-size: 20px;
            }
        }
    }
    @media (max-width:1550px) {
        .container-fruits{
            img{
                width: 99%;
                height: 99%;
            }
        } 
    }
    @media (max-width:1152px) {
        width: 97%;
        height: 1600px;
        align-items: center;
        flex-direction: column-reverse;
        .about-us{
            margin: 0;
        }
        .container-fruits{
            margin: 0;
        }
        
        
    }
    @media (max-width:768px) {
        .about-us{
            max-width: 702px;
            width: 100%;
            h3{
                font-size: 45px;
                text-align: center;
            }
            p{
                text-align: center;
            }
            h5{
                font-size: 20px;
            }
            .text p{
                text-align: start;
            }
            .my-shop{
                display: flex;
                justify-content: space-around;
            }
            
        }
        .container-fruits{
            margin: 0;
        }
        
    }
    @media (max-width:480px){
       .about-us {
        h3{
            font-size: 32px;
        }

       }
    }
    
}
.container-s4{
    display: flex;
    max-width: 1400.961px;
    width: 100%;
    margin: 176px auto 200px auto;
    flex-direction: column;
    align-items: center;
    .head{
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        h4{
            @extend %myfonts2;
            font-size: 36px;
            color: #7EB693;
        }
        h2{
            @extend %myfonts;
            font-size: 50px;
            font-weight: 800;
            color: #274C5B;
        }
    }
    .container-products{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        .product{
            border-radius: 30px;
            background-color: #F9F8F8;
            .img{
                width: 335.23px;
                height: 324px;
            }
            .m1{
                background: url(../images/Calabrese\ Broccoli.png), #F9F8F8 50% / cover no-repeat;
                background-blend-mode: multiply;
            }
            .m2{
                background: url(../images/Banana.png), #F9F8F8 50% / cover no-repeat;
                background-blend-mode: multiply;
            }
            .m3{
                background: url(../images/White\ Nuts.png), #F9F8F8 50% / cover no-repeat;
                background-blend-mode: multiply;
            }
            .m4{
                background: url(../images/Vegan\ Red\ Tomato.png), #F9F8F8 50% / cover no-repeat;
                background-blend-mode: multiply;
            }
            .m5{
                background: url(../images/Mung\ Bean.png), #F9F8F8 50% / cover no-repeat;
                background-blend-mode: multiply;
            }
            .m6{
                background: url(../images/Brown\ Hazelnut.png), #F9F8F8 50% / cover no-repeat;
                background-blend-mode: multiply;
                background-repeat: no-repeat;
                background-position: center;
            }
            .m7{
                background: url(../images/Eggs.png), #F9F8F8 50% / cover no-repeat;
                background-blend-mode: multiply;
            }
            .m8{
                background: url(../images/Zelco\ Suji\ Elaichi\ Rusk.png), #F9F8F8 50% / cover no-repeat;
                background-blend-mode: multiply;
            }
            .category{
                width: min-content;
                border-radius: 8px;
                background: #274C5B;
                display: flex;
                padding: 5px 12px 6px 12px;
                justify-content: center;
                align-items: center;
                margin: 29px 0 13px 30px;
                h5{
                    @extend %myfonts3;
                    font-size: 15px;
                    font-weight: 600;
                    color: #FFF;
                }
            }
            .product-bottom{
                width: 279px;
                margin: 2px auto 17px auto;
                h5{
                    @extend %myfonts;
                    color: #274C5B;
                    font-size: 20px;
                    font-weight: 600;
                }
                .product-bottom-cost{
                    display: flex;
                    align-items: center;
                    .old-cost{
                        @extend %myfonts3;
                        font-size: 15px;
                        font-weight: 600;
                        color: #B8B8B8;
                        text-decoration: line-through;
                        text-decoration-thickness: 2px;
                    }
                    .new-cost{
                        @extend %myfonts3;
                        color: #274C5B;
                        font-size: 18px;
                        font-weight: 700;
                        margin: 0 81px 0 7px;
                    }
                }
            }
        }
    }
    .shop{
        width: 220px;
        height: 79px;
        margin-top: 122px;
        padding: 28px 39px;
        border-radius: 16px;
        background: #274C5B;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        a{
            @extend %myfonts;
            color: #FFF;
            font-size: 20px;
        }
    }
}
.container-s5{
    max-width: 1920px;
    width: 100%;
    height: 1267px;
    margin: 0 auto;
    background-color: #FCFCFC;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        h4{
            @extend %myfonts2;
            color: #7EB693;
            font-size: 36px;
            margin-bottom: 8px;
        }
        h2{
            @extend %myfonts;
            color: #274C5B;
            font-size: 50px;
            font-weight: 800;
            margin-bottom: 60px;
        }
        .image-mid{
            margin-bottom: 20px;
        }
        p{
            @extend %myfonts3;
            color: #525C60;
            font-size: 18px;
            line-height: 165.4%;
            width: 780px;
            margin: 25px 0 20px 0;
            text-align: center;
        }
        h6{
            @extend %myfonts;
            color: #274C5B;
            font-size: 25px;
            font-weight: 600;
        }
        span{
            color: #525C60;
            @extend %myfonts3;
            font-size: 15px;
            line-height: 165.4%;
        }
        .line{
            width: 1108px;
            height: 1px;
            background: #E0E0E0;
            margin: 102px 0 102px 0;
        }
        .Counters{
            display: flex;
            justify-content: space-between;
            width: 1030px;
            border-radius: 50%;
            .Chart{
                width: 211px;
                height: 211px;
                background-color: #7EB693;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .chart-mid{
                    width: 203px;
                    height: 203px;
                    border-radius: 50%;
                    border-style: solid;
                    border-width: 7px;
                    border-color: #FFF;
                    background-color: #F1F1F1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h5{
                        @extend %myfonts;
                        color: #274C5B;
                        font-size: 50px;
                        font-weight: 800;
                    }
                    p{
                        margin: 0;
                        @extend %myfonts3;
                        color: #274C5B;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 165.4%; 
                    }
                }
            }
        }
    }
}
